

.AsanaBaseTopbar {
	height:50px !important;
	background-color:transparent !important;
  }
  
.AsanaBaseTopbar *, .GlobalTopbar, .GlobalTopbar * {background-color:transparent !important;}
  

.TopbarPageHeaderStructureWithBreadcrumbs-leftElement .PageHeaderChipButton, 
.TopbarPageHeaderStructureWithBreadcrumbs-navMenuRow, 
.TopbarPageHeaderStructureWithBreadcrumbs-rightChildrenWrapper,
.GlobalTopbar, #asana_sidebar {display:none !important;}